name: Test
on: [push]

jobs:
  test:
    name: Test
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: npm install --frozen-lockfile
      - name: Unit Tests
        run: npm run test:unit
      - name: E2E tests
        run: npm run test:e2e --headless